<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ge.idevelopers.lessnote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ge.idevelopers.lessnote.application.LessNoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/noAnimTheme">
        <activity android:name="ge.idevelopers.lessnote.activities.SplashScreenActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ge.idevelopers.lessnote.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme">
              <!--  <data android:name="android.content.Intent.FLAG_ACTIVITY_NO_ANIMATION" />-->
        </activity>
        <activity
            android:name="ge.idevelopers.lessnote.activities.SundayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.SaturdayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.FridayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.ThursdayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.WednesdayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.MondayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name="ge.idevelopers.lessnote.activities.TuesdayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme" />
        <activity android:name="ge.idevelopers.lessnote.activities.ygygygy" />
    </application>

</manifest>